
.comforttrade-content{
    width: 776px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0 0 19px rgba(0,0,0,16%));
    -webkit-filter: drop-shadow(0 0 19px rgba(0,0,0,16%));
    padding: 15px 20px;
}
.comforttrade-content .stages {
    display: flex;
    justify-content: space-between;
    /* padding: 0 0 !important; */
    background-color: var(--comfort-purple);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}
.comforttrade-content .stages li {
    list-style: none;
    color:#A09FA4;
    font-size: 15px;
    font-weight: bold;
    min-width: 165px;

}
.comforttrade-content .stages li > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: 55px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 8px;
}
.comforttrade-content .stages li > div > div{
    margin-top: 1px;
}
.comforttrade-content .stages li > div.active{
    background-color: var(--comfort-lowpurple);
    color: white;
    font-weight: 600;
}
.comforttrade-content .stages li > div.complete{
    background-color: #18A085;
    color: white;
    font-weight: 600;
}
.stages li:first-child div img{
    width: 30px;
    height: 30px;
}
.stages li:nth-child(2) div img{
    width: 30px;
    height: 25px;
}
.stages li:nth-child(3) div img{
    width: 30px;
    height: 25px;
}
.stages li:last-child div img{
    width: 50px;
    height: 28px;
}
.statusbox{
    width: 100%;
    height: 55px;
    background-color: var(--comfort-purple);
    border-radius: 8px;
    font-size: var(--font-size-18px);
    font-weight: bold;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 5px;
}
.statusbox div{
    display: flex;
    gap: 10px;
    margin-top: 1px;
}
.statusbox div > span:last-child{
    color:#FFB91A;
    white-space: pre;
}
.comforttrade-body{
    margin-top: 20px;
}
.onProcessing{
    background-color: rgba(10, 2, 57, 0.72);
}
.onProcessing .comforttrade-body{
    filter: blur(3px);
    opacity: 0.8;
}
.comforttrade-popup{
    color:white;
    font-weight: 500;
    font-size: var(--font-size-20px);
    position: absolute;
    width: 100%;
    top: 35%;
    margin-left: -20px;
}
.popup-status div:first-child{
    width: 50px;
    height: 50px;
    background-color: #F4F4F4;
    border-radius: 8px;
}
.popup-status div:first-child img{
    width: 100%;
    transform: scale(0.7);
}
.popup-status{
    position: relative;
    margin-top: 10%;
    gap: 15px;
}
.all-center-flex{
    display: flex;
    align-items: center;
    justify-content: center;

}
.hrline{
    display: none;
}
.guide__container{
    width: 450px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0 0 19px rgba(0,0,0,16%));
    -webkit-filter: drop-shadow(0 0 19px rgba(0,0,0,16%));
    padding: 30px;
    margin-top: -105px;
    font-size: var(--font-size-16px);
    font-weight: 500;
    line-height: 26px;
    padding-top: 40px;
    overflow: auto;
}
.guide__container img{
    position: absolute;
    right: 20px;
    top: 15px;
}
.guide__container .title{
    font-weight: bold;
}
@media (min-width: 800px) and (max-width: 815px) {
    .comfort-box-container {
        width: 95%;
        margin: 0 auto;
        margin-top: -80px;
    }
}
@media (max-width: 815px) {
    .comforttrade-content{
        width: 100%;
        filter: none;
        -webkit-filter: none;
        border-radius: 0;
        padding: 15px 15px;
        height: 550px;
    }
    .comforttrade-content .stages{
        height: 50px;
        padding-left: 5px;
        padding-right: 3.5px;
        padding-top: 0 !important;
    }
    .comforttrade-content .stages li{
        min-width: 80px;
        margin-right: 2px;
        margin-top: -0.5px;
    }
    .comforttrade-content .stages li > div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        flex-direction: column;
        white-space: pre;
        font-size: 9px;
        padding-bottom: 5px;
        height: 43px;
        margin: 0;
        margin-top: 4px;
    }
    .stages li:first-child div img{
        width: 24px;
        height: 24px;
    }
    .stages li:nth-child(2) div img{
        width: 30px;
        height: 21px;
    }
    .stages li:nth-child(3) div img{
        width: 21px;
        height: 22px;
    }
    .stages li:last-child div img{
        width: 40px;
        height: 28px;
    }

    .statusbox{
        height: 40px;
        font-size: var(--font-size-14px);
        gap: 3% !important;
    }
    .statusbox div{
        gap: 6px;
    }
    .statusbox div:first-child img{
        width: 20px;height: 15px;
    }
    .all-center-flex{
        width: 90%;
        margin:0 auto;
    }
    .statusbox div:last-child img{
        width: 30px;height: 17px;
    }
    .hrline{
        width: 100%;
        height: 2px;
        background-color: #A8A8A8;
        display: block;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    .popup-status{
        margin-top: 10%;
    }
    .onProcessing{
        border-radius: 0;
    }
    .popup-status > div:first-child{
        width: 33px !important;height: 33px !important;
    }
    .popup-status > div:last-child{
        font-size: var(--font-size-14px);
        font-weight: 700;
        width: 70%;
    }
    .comfort-container{
        display: flex;
        justify-content: space-between;
        gap: 1%;
        margin-right: 6%;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 1000px;
        justify-content: flex-start !important;
        margin-inline-start: 0 !important;
    }
    .guide__container{
        width: 90% !important;
        margin-top: 50px !important;
        /* filter: none !important; */
        /* -webkit-filter: none; */
        margin: 0 auto;
        height: auto;
        padding-top: 15px !important;
    }
    .guide__container img{
        position: absolute;
        right: 15px;
        top: inherit;
        transform:scale(0.7)
    }
    .comforttrade-content .stages li > div.active{
        margin-top: 3.5px;
    }
    .onProcessing{
        min-height: 700px;
    }
    .mf-gap{
        gap: 5px !important;
    }
}

.rtl_class .guide__container{
    text-align: right;
    direction: rtl;
}
.rtl_class .comfort-progress-bar{
    left: inherit !important;
    right: 10%;
    transform: none;
    direction: ltr;
}
@media (max-width: 320px) {
    .comforttrade-content .stages li{
        min-width: 65px;
        margin-right: 2px;
        margin-top: -0.5px;
        transform: scale(0.8);
    }
    .statusbox div{
        gap: 0px;
        transform: scale(0.75);
    }
}