/*
// #Info Block
// --------------------------------------------------
*/
.info-block {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-block__item {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  color: white;
  min-height: 26px;
  padding: 2px 0 0 40px;
  margin-bottom: 34px;
  font-size: var(--font-size-17px);
  list-style: none;
  text-align: left;
}
.info-block__item:last-child {
  margin-bottom: 0;
}
.info-block__item .df-icon,
.info-block__item .df-icon-stack {
  position: absolute;
  left: 0;
  top: 0;
}
.info-block__item .df-icon--custom {
  height: auto;
  font-size: var(--font-size-28px);
  line-height: 1.2em;
  color: #ffdc11;
}
.info-block__item .df-icon--custom img {
  vertical-align: top;
}
.info-block__item .df-icon--custom i {
  color: #ffdc11;
}
.info-block__item.info-block__item--sm {
  padding-left: 28px;
}
.info-block__item.info-block__item--sm .df-icon--custom {
  font-size: var(--font-size-18px);
}
@media (max-width: 991px) {
  .header__primary .info-block__item {
    text-align: left;
    margin: 20px 0;
    padding: 2px 30px 16px 70px;
  }
  .header__primary .info-block__item.info-block__item--contact-primary {
    margin-top: 36px;
  }
  .header__primary .info-block__item.info-block__item--contact-secondary {
    margin-bottom: 0;
  }
  .header__primary .info-block__item .df-icon {
    left: 30px;
  }
  .header__primary .info-block__item .info-block__link {
    padding: 0;
    font-size: var(--font-size-9px);
    line-height: 1.2em;
    color: #6b6d70;
    border: none;
  }
  .header__primary .info-block__item .info-block__link::before {
    display: none;
  }
  .header__primary .info-block__item .info-block__link:hover {
    color: #fff;
  }
}
@media (min-width: 992px) {
  .header__primary .info-block__item {
    display: none;
  }
}

.info-block__item--nopadding {
  padding-left: 0;
}

.info-block__heading {
  font-size: var(--font-size-9px);
  line-height: 1.2em;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
}

.info-block__link {
  display: block;
  text-transform: uppercase;

  font-size: var(--font-size-9px);
  line-height: 1.2em;
  font-weight: 400;
  font-style: normal;
  color: #6b6d70;
  vertical-align: top;
  -webkit-transition: color 0.25s cubic-bezier(0.3, 0.1, 0.55, 1);
  transition: color 0.25s cubic-bezier(0.3, 0.1, 0.55, 1);
}
.info-block__link:hover {
  color: #fff;
}

.info-block__link-wrapper {
  display: block;
}

.info-block__item:not(.info-block__button) img {
  position: relative;
  max-width: 100px;
  top: -3.5px;
}
@media (max-width: 1600px) {
  .info-block--header .info-block__item {
    margin: 0px 0 0 28px;
  }

  .info-block--header .info-block__item span {
    font-size: 13px;
  }
}

@media (min-width: 1600px) {
  .info-block--header .info-block__item {
    margin: 0px 0 0 26px;
  }
}

@media (max-width: 991px) {
  .info-block--header {
    display: none;
  }
}

@media (min-width: 992px) {
  .info-block--header .info-block__item {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .info-block--header .info-block__item .df-icon {
    top: 24px;
  }
  .info-block--header .info-block__item .df-icon-stack--bag {
    top: 3px;
  }
  .info-block--header
    .info-block__item
    .df-icon-stack--bag
    .df-icon--bag-handle {
    top: 19px;
  }
  .info-block--header .info-block__item .info-block__heading {
    margin-top: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .info-block--header .info-block__item {
    margin-left: 0;
    gap: 7px;
  }

  .info-block--header .info-block__item span {
    font-size: 12.5px;
  }

  .info-block--header .info-block__item:not(:first-child) img {
    max-height: 16px;
  }

  .info-block--header .info-block__button {
    left: 35px !important;
  }
}
.info-block--header
  .info-block__item.has-children.js-info-block__item--onhover
  > .info-block__link-wrapper {
  padding-right: 16px;
}
.info-block--header
  .info-block__item.has-children.js-info-block__item--onhover
  > .info-block__link-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  top: 29px;
  width: 6px;
  height: 4px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23fff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");
  background-size: 6px 4px;
  background-repeat: no-repeat;
  background-position: center center;
}
.info-block--header
  .info-block__item.has-children.js-info-block__item--onhover:hover
  .header-cart {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.info-block--header
  .info-block__item.has-children.js-info-block__item--onclick {
  padding-right: 0;
}
.info-block--header
  .info-block__item.has-children.js-info-block__item--onclick
  .info-block__menu-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 21px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 7'%3E%3Cpath fill='%23fff' d='M-0.000,6.998 L-0.000,5.998 L8.000,5.998 L8.000,6.998 L-0.000,6.998 ZM-0.000,2.998 L8.000,2.998 L8.000,3.999 L-0.000,3.999 L-0.000,2.998 ZM-0.000,-0.002 L8.000,-0.002 L8.000,0.998 L-0.000,0.998 L-0.000,-0.002 Z'/%3E%3C/svg%3E");
  background-size: 8px 7px;
  background-repeat: no-repeat;
  background-position: right center;
}
.info-block--header
  .info-block__item.has-children.js-info-block__item--onclick
  .info-block__menu-icon:hover {
  cursor: pointer;
}
.info-block--header
  .info-block__item.has-children.js-info-block__item--onclick
  .info-block__menu-icon.active {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23fff' d='M8.037,1.673 L5.209,4.500 L8.036,7.327 L7.329,8.034 L4.502,5.207 L1.673,8.036 L0.966,7.329 L3.795,4.500 L0.965,1.670 L1.672,0.963 L4.502,3.793 L7.329,0.965 L8.037,1.673 Z'/%3E%3C/svg%3E");
  background-size: 9px 9px;
}
.info-block--header
  .info-block__item.has-children.js-info-block__item--onclick
  .info-block__menu-icon.active
  ~ .header-cart {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.info-block--header
  .info-block__item.has-children.js-info-block__item--onclick
  > .info-block__link-wrapper {
  margin-right: 20px;
}
.info-block--header .info-block__item--sm {
  margin-left: 22px;
}
@media (max-width: 1199px) {
  .info-block--header .info-block__item--sm {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .info-block--header .info-block__item--sm .info-block__heading {
    margin-top: 10px;
  }
  .info-block--header .info-block__item--sm .info-block__link {
    font-size: var(--font-size-0);
    line-height: 0;
    width: 0;
    height: 0;
  }
  .info-block--header .info-block__item--sm .info-block__link::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    pointer-events: auto;
  }
}
.info-block--header .info-block__item--shopping-cart .info-block__heading {
  margin-bottom: 3px;
}
.info-block--header .info-block__cart-sum {
  font-size: var(--font-size-11px);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;

  line-height: 1.2em;
  display: block;
  color: #ffdc11;
}
.info-block--header .header-cart {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99;
  width: 360px;
  background-color: #201d56;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  opacity: 0;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-75deg);
  transform: rotateX(-75deg);
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.info-block--header .header-cart__item {
  position: relative;
  overflow: hidden;
  padding: 24px 24px 19px 24px;
  border-top: 1px solid #30333a;
}
.info-block--header .header-cart__inner {
  overflow: hidden;
  padding: 5px 0 0 0;
}
.info-block--header
  .header-cart__inner--has-priced-floated
  .header-cart__product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.info-block--header
  .header-cart__inner--has-priced-floated
  .header-cart__product-name
  .header-cart__product-price {
  -webkit-margin-start: auto;
  margin-inline-start: auto;
}
.info-block--header .header-cart__product-thumb {
  float: left;
  margin: 0 12px 0 0;
  border-radius: 0;
}
.info-block--header .header-cart__product-thumb img {
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border-radius: 0;
}
.info-block--header .header-cart__product-thumb img:hover {
  opacity: 0.7;
}
.info-block--header .header-cart__product-cat {
  display: block;
  font-size: var(--font-size-8px);
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 0.2em;
}
.info-block--header .header-cart__product-name {
  font-size: var(--font-size-12px);
  line-height: 1.2em;
  margin-bottom: 0.4em;

  text-transform: uppercase;
  font-style: normal;
}
.info-block--header .header-cart__product-name > a {
  color: #fff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.info-block--header .header-cart__product-name > a:hover {
  color: #ffdc11;
}
.info-block--header .header-cart__product-ratings {
  font-size: var(--font-size-10px);
  line-height: 1em;
  margin-bottom: 1em;
}
.info-block--header .header-cart__product-ratings .fa,
.info-block--header .header-cart__product-ratings .fab,
.info-block--header .header-cart__product-ratings .fas {
  margin-right: 0.2em;
  color: #ffdc11;
}
.info-block--header .header-cart__product-ratings .fa.empty,
.info-block--header .header-cart__product-ratings .fab.empty,
.info-block--header .header-cart__product-ratings .fas.empty {
  color: #4a4c51;
}
.info-block--header .header-cart__product-sum {
  font-size: var(--font-size-12px);
  line-height: 1.2em;
  font-weight: 700;

  color: #fff;
}
.info-block--header .header-cart__product-price {
  color: #fff;
}
.info-block--header .header-cart__close {
  display: block;
  position: absolute;
  right: 18px;
  top: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  opacity: 0.4;
  font-size: var(--font-size-14px);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.info-block--header .header-cart__close:hover {
  opacity: 1;
  cursor: pointer;
}
.info-block--header .header-cart__item--subtotal {
  overflow: hidden;
  font-size: var(--font-size-11px);
  line-height: 1.3em;
  padding-top: 21px;
  padding-bottom: 21px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
.info-block--header .header-cart__item--subtotal--border {
  border-top: 1px solid #30333a;
  border-bottom: 1px solid #30333a;
}
.info-block--header .header-cart__subtotal {
  float: left;
}
.info-block--header .header-cart__subtotal-sum {
  float: right;
  color: #fff;
}
.info-block--header .header-cart__item--action {
  padding-top: 16px;
  padding-bottom: 16px;
}
.info-block--header .header-cart__item--action .btn {
  width: 48%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-top: 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.info-block--header .header-cart__item--action .btn:first-child {
  float: left;
}
.info-block--header .header-cart__item--action .btn:last-child {
  float: right;
}
.info-block--header .header-cart--inventory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 30px 60px 50px;
}
.info-block--header .header-cart--inventory .header-cart__item {
  width: 80px;
  height: 80px;
  margin: 0 20px 20px 0;
  padding: 0;
  border: 1px solid #30333a;
  background-color: #201d56;
  /*background-image: url('../images/esports/placeholder-cart-sm.png');*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 0;
  overflow: visible;
}
.info-block--header
  .header-cart--inventory
  .header-cart__item.header-cart__item--title {
  width: 100%;
  height: auto;
  border: none;
  margin-bottom: 0;
  padding-bottom: 37px;
  background: none;
  border: none;
}
.info-block--header
  .header-cart--inventory
  .header-cart__item.header-cart__item--title
  h5 {
  margin-bottom: 0;
}
.info-block--header
  .header-cart--inventory
  .header-cart__item.header-cart__item--subtotal {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
  background: none;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 22px 0;
}
.info-block--header
  .header-cart--inventory
  .header-cart__item.header-cart__item--action {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  background: none;
  border: none;
  padding-top: 24px;
}
.info-block--header
  .header-cart--inventory
  .header-cart__item.header-cart__item--action
  .btn {
  width: 100%;
}
.info-block--header
  .header-cart--inventory
  .header-cart__item.header-cart__item--action
  .btn:first-child,
.info-block--header
  .header-cart--inventory
  .header-cart__item.header-cart__item--action
  .btn:last-child {
  float: none;
}
.info-block--header
  .header-cart--inventory
  .header-cart__item.header-cart__item--action
  .btn
  + .btn {
  margin-top: 16px;
}
.info-block--header .header-cart--inventory .header-cart__product-thumb {
  margin: 0;
}
.info-block--header .header-cart--inventory .header-cart__badges {
  display: block;
  position: absolute;
  top: -6px;
  right: -6px;
}
.info-block--header .header-cart--inventory .header-cart__badges .badge {
  vertical-align: top;
  min-width: 22px;
  min-height: 22px;
  line-height: 22px;
  border-radius: 50%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: var(--font-size-10px);
}
.info-block--header
  .header-cart--inventory
  .header-cart__badges
  .badge.badge-close {
  background-color: #fff;
}
.info-block--header
  .header-cart--inventory
  .header-cart__badges
  .badge.badge-close:hover {
  cursor: pointer;
}

.footer-widgets .info-block__item .df-icon {
  stroke: #ffdc11;
}

.info-block--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 992px) {
  .info-block--horizontal {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: auto;
  }
}
.info-block--horizontal .info-block__item {
  width: 100%;
  padding-left: 50px;
}
@media (min-width: 768px) {
  .info-block--horizontal .info-block__item {
    width: 33.3%;
  }
}
@media (min-width: 992px) {
  .info-block--horizontal .info-block__item {
    width: auto;
    margin: 0 20px;
  }
}
@media (min-width: 1200px) {
  .info-block--horizontal .info-block__item {
    margin: 0 43px;
  }
}
@media (max-width: 991px) {
  .info-block--horizontal .info-block__item:last-child {
    margin-bottom: 34px;
  }
}
.info-block--horizontal .info-block__item--social {
  padding-left: 0;
}

/* Social Counter
  /* ------------------------- */
.btn-social-counter {
  display: block;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  min-height: 65px;
  position: relative;
  overflow: hidden;
  background-clip: padding-box;
  padding: 20px 60px 18px 86px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.btn-social-counter + .btn-social-counter {
  margin-top: 10px;
}
.btn-social-counter:hover {
  color: #fff;
}

.btn-social-counter__icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 68px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: var(--font-size-18px);
}
.btn-social-counter__icon .fa,
.btn-social-counter__icon .fas,
.btn-social-counter__icon .fab {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-social-counter__title {
  font-size: var(--font-size-11px);
  line-height: 1.2em;
  color: #fff;
  margin-bottom: 1px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .btn-social-counter__title {
    font-size: var(--font-size-13px);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .btn-social-counter__title {
    font-size: var(--font-size-11px);
  }
}

.btn-social-counter__count {
  display: block;
  font-size: var(--font-size-10px);
  line-height: 1.2em;
  color: #fff;
  font-weight: 700;
}

.btn-social-counter__add-icon {
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #fff;
  right: 23px;
  top: 50%;
  margin-top: -13px;
}
.btn-social-counter__add-icon::before,
.btn-social-counter__add-icon::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.btn-social-counter__add-icon::before {
  width: 8px;
  height: 2px;
}
.btn-social-counter__add-icon::after {
  width: 2px;
  height: 8px;
}
.btn-social-counter:hover .btn-social-counter__add-icon::before,
.btn-social-counter:hover .btn-social-counter__add-icon::after {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}

.btn-social-counter__name {
  font-size: var(--font-size-24px);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #fff;
  line-height: 1em;
  text-transform: none;
  letter-spacing: -0.03em;
}
@media (min-width: 1199px) {
  .btn-social-counter__name {
    font-size: var(--font-size-28px);
  }
}
.btn-social-counter--facebook .btn-social-counter__name {
  text-transform: lowercase;
}

/* Types */
.btn-social-counter--card {
  padding: 34px 60px 18px 23px;
  height: 150px;
  min-width: 304px;
}
@media (min-width: 992px) {
  .btn-social-counter--card {
    height: 200px;
  }
}
@media (min-width: 1199px) {
  .btn-social-counter--card {
    height: 216px;
  }
}
.post-grid__item .btn-social-counter--card {
  margin-bottom: 15px;
}
.btn-social-counter--card .btn-social-counter__footer {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 60px 30px 23px;
}
.btn-social-counter--card
  .btn-social-counter__footer
  .btn-social-counter__add-icon {
  top: 0;
  margin-top: 0;
}

/* Social Buttons Styles */
.btn-social-counter--facebook {
  background-color: #3b5998;
}
.btn-social-counter--facebook .btn-social-counter__icon {
  background-color: #344e86;
}
.btn-social-counter--facebook:hover {
  background-color: #4264aa;
}
.widget-social--condensed .btn-social-counter--facebook {
  background-color: #3b5998;
}
.widget-social--condensed
  .btn-social-counter--facebook
  .btn-social-counter__count {
  background-color: #4264aa;
}
.widget-social--grid .btn-social-counter--facebook {
  background-color: #3b5998;
}
.widget-social--grid .btn-social-counter--facebook:hover {
  background-color: #4264aa;
}
.widget-social--grid
  .btn-social-counter--facebook
  .btn-social-counter__add-icon {
  background-color: #4264aa;
}

.btn-social-counter--twitter {
  background-color: #1da1f2;
}
.btn-social-counter--twitter .btn-social-counter__icon {
  background-color: #0d95e8;
}
.btn-social-counter--twitter:hover {
  background-color: #35abf3;
}
.widget-social--condensed .btn-social-counter--twitter {
  background-color: #1da1f2;
}
.widget-social--condensed
  .btn-social-counter--twitter
  .btn-social-counter__count {
  background-color: #35abf3;
}
.widget-social--grid .btn-social-counter--twitter {
  background-color: #1da1f2;
}
.widget-social--grid .btn-social-counter--twitter:hover {
  background-color: #35abf3;
}
.widget-social--grid
  .btn-social-counter--twitter
  .btn-social-counter__add-icon {
  background-color: #35abf3;
}

.btn-social-counter--google {
  background-color: #dc4e41;
}
.btn-social-counter--google .btn-social-counter__icon {
  background-color: #d83a2b;
}
.btn-social-counter--google:hover {
  background-color: #e06257;
}
.widget-social--condensed .btn-social-counter--google {
  background-color: #dc4e41;
}
.widget-social--condensed
  .btn-social-counter--google
  .btn-social-counter__count {
  background-color: #e06257;
}

.btn-social-counter--rss {
  background-color: #ffcc00;
}
.btn-social-counter--rss .btn-social-counter__icon {
  background-color: #ffbf13;
}
.btn-social-counter--rss:hover {
  background-color: #ffd11a;
}
.widget-social--condensed .btn-social-counter--rss {
  background-color: #ffbf13;
}
.widget-social--condensed .btn-social-counter--rss .btn-social-counter__count {
  background-color: #ffcc00;
}
.widget-social--grid .btn-social-counter--rss {
  background-color: #ffbf13;
}
.widget-social--grid .btn-social-counter--rss:hover {
  background-color: #ffd427;
}
.widget-social--grid .btn-social-counter--rss .btn-social-counter__add-icon {
  background-color: #ffd427;
}

.btn-social-counter--instagram {
  background-color: #e4405f;
}
.btn-social-counter--instagram .btn-social-counter__icon {
  background-color: #e12a4c;
}
.btn-social-counter--instagram:hover {
  background-color: #e75672;
}
.widget-social--condensed .btn-social-counter--instagram {
  background-color: #e75672;
}
.widget-social--condensed
  .btn-social-counter--instagram
  .btn-social-counter__count {
  background-color: #e4405f;
}
.widget-social--grid .btn-social-counter--instagram {
  background-color: #e12a4c;
}
.widget-social--grid .btn-social-counter--instagram:hover {
  background-color: #e4405f;
}
.widget-social--grid
  .btn-social-counter--instagram
  .btn-social-counter__add-icon {
  background-color: #e4405f;
}

.btn-social-counter--twitch {
  background-color: #6441a4;
}
.btn-social-counter--twitch .btn-social-counter__icon {
  background-color: #593a92;
}
.btn-social-counter--twitch:hover {
  background-color: #6f48b6;
}
.widget-social--condensed .btn-social-counter--twitch {
  background-color: #6441a4;
}
.widget-social--condensed
  .btn-social-counter--twitch
  .btn-social-counter__count {
  background-color: #6f48b6;
}

.btn-social-counter--youtube {
  background-color: #ff0000;
}
.btn-social-counter--youtube .btn-social-counter__icon {
  background-color: #e60000;
}
.btn-social-counter--youtube:hover {
  background-color: #ff1a1a;
}
.widget-social--condensed .btn-social-counter--youtube {
  background-color: #ff0000;
}
.widget-social--condensed
  .btn-social-counter--youtube
  .btn-social-counter__count {
  background-color: #ff1a1a;
}

.btn-social-counter--calendar {
  background-color: #0e95f3;
}
.btn-social-counter--calendar .btn-social-counter__icon {
  background-color: #0b87dd;
}
.btn-social-counter--calendar:hover {
  background-color: #26a0f4;
}
.widget-social--condensed .btn-social-counter--calendar {
  background-color: #0e95f3;
}
.widget-social--condensed
  .btn-social-counter--calendar
  .btn-social-counter__count {
  background-color: #26a0f4;
}
