.auth_popup{
    display: block;
    width: 320px;
    background: #FFFFFF;
    min-height: 420px;
    z-index: 2;
    margin-top: 400px;

    position: absolute;
    min-width: 320px;
    right: 0;
    box-shadow: -1px 7px 12px 0px rgba(142,142,142,0.75);
    -webkit-box-shadow: -1px 7px 12px 0px rgba(142,142,142,0.75);
    -moz-box-shadow: -1px 7px 12px 0px rgba(142,142,142,0.75);
}
.auth_popup-p{
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 5px;
}
.auth_popup .title{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    color:#201D56;
    text-align: left;
}
.auth_popup .title-11{
    font-family: 'Montserrat';
    font-size: 11px;
    font-weight: 700;
    color:#201D56;
    text-align: left;

}
.one-line-wide{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
}
.c-hr{
    width: 100%;
    height: 2px;
    background-color: rgba(142, 142, 142, 0.58);
    margin-top:10px;
    margin-bottom: 15px;
}

.auth_popup input:focus{
    border: 0.1px solid #201D56 !important;
}


.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 21px;
    margin-bottom: 11px;
    transform: scale(0.9);
    margin-left: 10px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius:50%;
    background-color:#fff;
    border:solid #201D56;
}

.checkbox-container input:checked ~ .checkmark {
    background-color:white;
    border:2px solid #201D56;
}

.checkmark::after {
    content:"";
    position:absolute;
    display:none;
}

.checkbox-container input:checked ~ .checkmark::after {
    display:block;
    border-radius:50%;
    background-color:#201D56;
    height:9px;
    width:9px;
    top:50%; left:50%; transform:
        translate(-50%,-50%);
}
.btn-login {

    width: 100%;
    background-color: #201D56;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 8px;
    margin-top: 15px;
}
.btn-login:hover{
    background-color: rgba(32, 29, 86, 0.90);
}
.graybox{
    background-color: #F7F7F7;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #8E8E8E;
    cursor: inherit;

}
.graybox a,.graybox .alink{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    padding-left: 25px;
    cursor: pointer;
    width: max-content;
}
.graybox a:hover{
    text-decoration: underline;
}
.graybox a span{
    padding-inline-start: 15px;
}
.graybox a .socialbox{
    display: flex;
}
.graybox a .socialbox .social-item{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding:10px;
    background-color: #D9D9D9 !important;
    margin-left: 15px;
}
.graybox a .socialbox .google{
    background: url("/svg/google_ico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.graybox a .socialbox .linkdin{
    background: url("/svg/linkdin_ico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.graybox a .socialbox .twitter{
    background: url("/svg/twiter_ico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.err-txt{
    color: red;font-weight: 500;font-size: 11px;
}