.no-border,.accordion>.card>.card-header{
    border: 0 !important;
}
.accordion>.card{
    border-bottom: 1px solid #00000040 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.card-header{
    background-color: transparent;
    cursor: pointer;
}
.card-header:hover{
    color: rgba(32, 29, 86, 0.66);
}
.card-header h2{
    line-height: 20px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
}
.card-body{
    font-size: 18px;
    line-height: 35px;
    color: #747474;
}
.panel-body{
    text-align: justify;
}
@media (max-width: 800px){
    .card-header h2{
        font-size: 13px;
    }
    .accordion>.card{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container{
        padding: 0 !important;
    }
    .panel-body p{
        font-size: 15px;
    }
}
