.minibox__container p {
    text-align: center;
}
.input-container{
    width: 60%;
    margin: 0 auto;
}
.input-container input{
    padding-left: 50px;
}
.input-container .resetbtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #201D56;
    color:white;
    padding: 0;
    height: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    line-height: 40px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
}
.input-container .resetbtn:hover{
    background-color: #2e2a86;
}
.err-txt{
    color: red;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    margin-top:10px;
}

@media (max-width: 768px) {
    .input-container{
        width: 100%;
    }
}